<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">

    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarCenteredExample"
      aria-controls="navbarCenteredExample"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">

      <!-- Left links -->
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/home/">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/booking">My Bookings</a>
        </li>
      </ul>

    </div>
    <!-- END collapse -->

    <!-- Login / Welcome section -->
    <div class="d-flex align-items-center">

      <!-- Login button -->
      <button
        type="button"
        class="btn btn-success px-3 me-2"
        data-bs-toggle="modal"
        data-bs-target="#myModal"
        (click)="openPopup()"
        *ngIf="userObj.userId == 0">

        Login
      </button>

      <!-- Logged user -->
      <div *ngIf="userObj.userId != 0">

        <h5 class="me-3">
          Welcome {{ userObj.contactNo }}
        </h5>

        <button
          type="button"
          class="btn btn-success px-3 me-2"
          (click)="logOff()">

          LogOff
        </button>

      </div>

    </div>

  </div>
</nav>



<div class="modal" id="myModal" #model>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close"
          data-bs-dismiss="modal"
          (click)="closePopup()"></button>
      </div>

      <div class="modal-body">

        <!-- LOGIN FORM -->
        <form *ngIf="isLoginForm">

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Login</p>
          </div>

          <div class="form-outline mb-4">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter contact number"
              name="contactNo"
              [(ngModel)]="loginObj.contactNo">

            <label class="form-label">Contact No</label>
          </div>

          <div class="form-outline mb-3">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              name="password"
              [(ngModel)]="loginObj.password">

            <label class="form-label">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">

            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="login()">

              Login
            </button>

            <p class="small fw-bold mt-2 pt-1 mb-0"
              (click)="isLoginForm = false">

              Don't have an account?
              <a class="link-danger">Register</a>

            </p>

          </div>

        </form>


        <!-- REGISTER FORM -->
        <form *ngIf="!isLoginForm">

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">Register</p>
          </div>

          <div class="form-outline">
            <input
              type="email"
              class="form-control form-control-lg"
              placeholder="Enter email"
              name="email"
              [(ngModel)]="userObj.email">

            <label>Email address</label>
          </div>

          <div class="form-outline">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter Full Name"
              name="name"
              [(ngModel)]="userObj.name">

            <label>Full Name</label>
          </div>

          <div class="form-outline">
            <input
              type="text"
              class="form-control form-control-lg"
              placeholder="Enter Contact Number"
              name="contactNo"
              [(ngModel)]="userObj.contactNo">

            <label>Contact Number</label>
          </div>

          <div class="form-outline">
            <input
              type="password"
              class="form-control form-control-lg"
              placeholder="Enter password"
              name="password"
              [(ngModel)]="userObj.password">

            <label>Password</label>
          </div>

          <div class="text-center text-lg-start mt-2 pt-2">

            <button
              type="button"
              class="btn btn-primary btn-lg"
              (click)="onRegister()">

              Register
            </button>

            <p class="small fw-bold mt-2 pt-1 mb-0"
              (click)="isLoginForm = true">

              Already have an account?
              <a class="link-danger">Login</a>

            </p>

          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal">

          Close
        </button>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>