
<h2>Upcomming events </h2>

<section class="schedule-section spad pt-4">
  <div class="container">
    <div class="row">

      <div class="col-4" *ngFor="let item of eventList; let i = index">
            <h3>{{item.eventName}}</h3>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <img
                class="card-img-top"
                style="height: 100px"
                [src]="item.imageUrl"
                alt="event image"
              >

              <div class="card-body">
                <a [routerLink]="['/event', item.eventId]"  class="btn btn-primary">Book</a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>